* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 100%;
  max-height: 100%;
}

span {
  font-weight: bold;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #FFD1DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__container {
  display: contents;
}

.header__info {
  margin: 10px 0 10px 0;
  height: 40px;
  width: 200px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #f7b7b7;
  font-family: Play;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.header__info:hover {
  background-color: #e68d8d;
}

.header__logo {
  height: 40px;
  text-align: center;
  width: 80px;
  margin: 5px 0 5px 0;
}

.header__logo-name {
  font-family: PlayfairBold;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  color: #000000;
}

.header__logo-lastname {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}

.header__messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  height: 40px;
  margin: 10px 0 10px 0;
}

.header__messenger-icon {
  height: 45px;
  width: 50px;
}

.wrapper {
  background-color: #F2F9F7;
  display: block;
  max-width: 1440px;
}

.conteiner__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.conteiner__title {
  text-align: center;
}

.title-size {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.title-size-info {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.conteiner__size-column-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colum-left-top {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.colum-center-top {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.colum-right-top {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.conteiner__size-column-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colum-left-bottom {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.colum-center-bottom {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.colum-right-bottom {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.conteiner__image {
  margin-left: 2%;
  margin-right: 2%;
}

.block {
  max-height: 90%;
  max-width: 90%;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 3px #FFC1C1, 0 0 13px #FFC1C1;
          box-shadow: 0 0 0 3px #FFC1C1, 0 0 13px #FFC1C1;
  margin: 2% 1%;
}

.breast-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breast-width {
  width: 25%;
}

.back-width {
  width: 25%;
}

.bone {
  width: 25%;
}

.chest-height {
  width: 25%;
}

.breast-width-title {
  height: 55px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.back-width-title {
  height: 55px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bone-title {
  height: 55px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chest-height-title {
  height: 55px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
